{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<h4>Filtrer</h4>
			{{ form_start(search) }}
			{{	form_widget(search)	}}
			{{ form_end(search)}}
		</div>
		<div class="col-md-9">
			<h4>Produits</h4>
			<div class="row">
				{% for product in products %}
					<div class="col-md-4">
						<div class="product-item text-center">
							<a href="{{ path('product_show', { 'slug' : product.slug})}}"><img src="/uploads/products/{{ product.imageUrl}}" class="img-fluid"></a>
							<h5>{{ product.name }}</h5>
							<span>{{ product.subtitle }}</span>
							<br>
							{{ (product.price / 100) |number_format(2, ',', '.' ) }}
							€
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
