{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block body %}
	<h1>Produits</h1>

	<table class="table">

		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.imageUrl }}</td>
					<td>
						<a href="{{ path('product_show', {'id': product.id}) }}">Détail</a>
						{# <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a> #}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">il n'y a aucun produit</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
