{% extends 'base.html.twig' %}

{% block title %}Actualité
{% endblock %}

{% block body %}
	<div class="col-md-12">
		<h1>Actualité</h1>
		<div class="row">
			{% for news in news %}
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img src="/uploads/news/{{ news.image}}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ news.title }}</h5>
							<p class="card-text">{{ news.subtitle | raw }}</p>
						</div>

						<small class="text-center">
							Créé le :
							{{ news.createdAt | date('d-m-Y') }}
						</small>
						<div class="card-footer">
							<a href="{{ path('news_show', { 'slug' : news.slug }) }}" class="btn btn-lg btn-dark">Détail</a>
						</div>
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="4">il n'y a aucun enregistrement</td>
				</tr>

			{% endfor %}

		</div>
	</div>
{% endblock %}


{# <div class="card" style="width: 18rem;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div> #}
