{% extends "base.html.twig" %}
{% block title %}Erreur de paiement
{% endblock %}

{% block body %}
	<h2>Erreur de paiement</h2>
	<p>Bonjour
		<strong>{{ order.user.firstname }}
			{{ order.user.lastname }}</strong>,
		<br><br>
		Il semblerait que votre paiement est échoué pour votre commande n°
		<strong>
			{{ order.reference }}</strong>
		<br>
		Une confirmation d'erreur vient de vous être envoyée par mail à l'adresse
		<strong>{{ order.user.email }}</strong>.
		<br>
		<br>
		<a href="{{ path('order') }}">Réésayer le paiement</a>
		<br>
		<a href="{{ path('home') }}">Revenir à l'accueil</a>
	</p>


{% endblock %}
