{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<h2>je passe ma commande</h2>
	<p>Choisissez vos préférences avant de passer votre commande sur Banlieu's Heart.</p>
	<hr>
	<div class="row">
		<div class="col-md-6">

			{% set formHtml %}
			{{form_start(orderForm, {action:path('order_recap')}) }}
			{{form_label(orderForm.adresses, 'Choissiser votre adresse de livraison')}}
			<a href="{{ path('add_account_adress')}}">
				Ajouter une nouvelle adresse</a>
			{{form_widget(orderForm)}}
			{% endset %}
			{{ formHtml | replace ({'[br]' : ' <br/> '}) | raw }}
			<br>
		</div>
		<div class="col-md-6">
			<div class="text-center">
				<b>Recapitulatif de ma commande</b>
			</div>
			<div class="order-summary">
				{% for key,product in cart  %}
					<div class="row {% if key > 0 %} mt-2{% endif %} ">
						<div class="col-2">
							<img src="/uploads/products/{{ product.product.imageUrl}}" alt="{{ product.product.name }}" height="75px" srcset="">
						</div>
						<div class="col-8 my-auto">
							{{ product.product.name }}
							<br>
							X
							{{ product.quantity }}
						</div>
						<div class="col-2 my-auto">
							{{ ((product.product.price * product.quantity) / 100) |number_format(2, ',', '.') }}
							€
						</div>
					</div>
					<hr>

				{% endfor %}
			</div>
			<br>

			<button type="submit" class="btn btn-lg btn-dark">Valider</button>
			{{form_end(orderForm)}}
		</div>
	</div>
{% endblock %}
